<div id='ticket'>
  <h2><%= @ticket.title %></h2>
  <menu>
    <%= link_to_with_authorization 'Edit Ticket', [:edit, @project, @ticket],
            {permission: 'edit tickets', thing: @project} %>
    <%= link_to_with_authorization 'Delete Ticket', [@project, @ticket],
            {permission: 'delete tickets', thing: @project},
            :method => :delete, :confirm => 'Are you sure you want to delete this ticket?' %>
  </menu>
  <br>
  <small>Created by <%= @ticket.user.email %></small>
  <p>
    <%= simple_format(@ticket.description) %>
  </p>
</div>
