<!DOCTYPE html>
<html>
<head>
  <title><%= title(@item, params[:controller].capitalize) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- each flash notice / alert would have its own div to display-->
<% flash.each do |key, value| %>
    <div class="flash" id="<%= key %>">
        <%= value %>
    </div>
<% end %>

<%= yield %>

</body>
</html>
